<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
			 <!-- %cyan(%d{ISO8601}) %highlight(%-5level) [%green(%t)] %yellow(%C{1.}): %msg%n%throwable -->
			 %cyan[%d{yyyy-MM-dd_HH:mm:ss.SSS}] [- %yellow(%C{1.}) -] [%thread] [%-5level] %logger{36} : %highlight%msg%n
			</Pattern>
		</layout>
	</appender>



    <springProfile name="test">
        <logger name="org.springframework" level="info" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="br.com.desafio.petz.api" level="debug" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <root level="error">
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

    <springProfile name="dev,docker">
        <timestamp key="executionDate" datePattern="yyyy-MM-dd"/>

        <!-- <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>./logs/app-${executionDate}.log</file>
            <append>true</append>
            <encoder>
                <pattern>[yellow%d{yyyy-MM-dd HH:mm:ss.S}] blue%thread [%logger{36}] %level: %msg%n</pattern>
            </encoder>
        </appender> -->

        <logger name="org.springframework" level="info" additivity="false">
            <appender-ref ref="STDOUT" />
<!--             <appender-ref ref="FILE" /> -->
        </logger>

        <logger name="br.com.desafio.petz.api" level="debug" additivity="false">
            <appender-ref ref="STDOUT" />
<!--             <appender-ref ref="FILE" /> -->
        </logger>

        <root level="error">
            <appender-ref ref="STDOUT" />
<!--             <appender-ref ref="FILE" /> -->
        </root>
    </springProfile>

	

	<springProfile name="prod">
		<logger name="org.springframework" level="error"
			additivity="false">
			<appender-ref ref="STDOUT" />
		</logger>

		<logger name="br.com.pets.api" level="error" additivity="false">
			<appender-ref ref="STDOUT" />
		</logger>

		<root level="error">
			<appender-ref ref="STDOUT" />
		</root>
	</springProfile>

	



</configuration>